<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> <!-- namespace：必须与对应的接口全类名一致 id:必须与对应接口的某个对应的方法名一致 -->
<mapper namespace="org.ku8eye.mapper.UserMapper">
	<insert id="save" parameterType="User"> insert into
		t_user(user_name,user_age) values(#{name},#{age})
	</insert>
	<update id="update" parameterType="User"> update t_user set
		user_name=#{name},user_age=#{age} where user_id=#{id}
	</update>
	<delete id="delete" parameterType="int"> delete from t_user where
		user_id=#{id}
	</delete>     <!-- mybsits_config中配置的alias类别名,也可直接配置resultType为类路劲 -->
	<select id="findById" parameterType="int" resultType="User"> select
		user_id as id,user_name as name,user_age as age from t_user where
		user_id=#{id}
	</select>
	<select id="findByName" parameterType="String" resultType="User">
		select user_id as id,user_name as name,user_age as age from t_user
		where user_name=#{name}
	</select>
	<select id="findAll" resultType="User"> select user_id as id,user_name
		as name,user_age as age from t_user
	</select>
</mapper>